:root {
  --md-code-font: "Roboto Mono";
  /* --md-primary-fg-color: #84A0C6; */
  --md-primary-fg-color: #F8AE44;
  /* --md-primary-fg-color: #E4AF68; */
  --md-primary-fg-color--light: #FCFCFC;
  --md-primary-fg-color--dark: #333;
  --md-default-fg-color: #111;
  --md-default-fg-color--light: #000000d0;
  --md-default-fg-color--lighter: #00000052;
  --md-default-fg-color--lightest: #00000012;
  /* --md-accent-fg-color: #428eff;
  --md-accent-fg-color--hover: #84A0C6;
  --md-accent-fg-color--transparent: #526cfe1a; */
  --md-accent-fg-color: #38195A;
  --md-accent-fg-color--hover: #E4AF68;
  --md-accent-fg-color--transparent: #38195a1a;

  --md-default-bg-color: #fff;
  --md-default-bg-color--light: #ffffffb3;
  --md-default-bg-color--lighter: #ffffff4d;
  --md-default-bg-color--lightest: #ffffff1f;
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
}

[data-md-color-scheme="slate"] {
  --md-hue: 210;
}

/* Indentation for API Reference. */
.md-content div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .05rem solid var(--md-typeset-table-color);
}

/* Mark external links as such. */
.md-content a.autorefs-external::after,
.md-content a[href^="http"]:after {
  /* https://primer.style/octicons/arrow-up-right-24 */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgb(0, 0, 0)" d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
  content: ' ';

  display: inline-block;
  position: relative;
  top: 0.1em;
  margin-left: 0.2em;
  margin-right: 0.1em;

  height: 0.6em;
  width: 0.6em;
  border-radius: 100%;
  background-color: var(--md-typeset-a-color);
}

.md-content a.autorefs-external:hover::after,
.md-content a[href^="http"]:hover::after {
  background-color: var(--md-accent-fg-color);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgb(255, 255, 255)" d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
}